/* Containers and grids */
#calculator {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-gap: 10px;
  padding: 20px;
  background: #282c34;
  border-radius: 6px;
  width: max-content;
  margin: 50px auto;
}

/* Display screen */
#display {
  grid-column: span 4;
  background: #444;
  color: #fff;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
}

/* Button style */
button {
  height: 60px;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #a6bbc1;
  color: #000;
}

/* Clear button style */
#clear {
  background: #e74c3c;  
  color: #fff;          
}

/* Equals button style */
#equals {
    background: #0056b1;  
    color: #fff;          
}

button:hover {
  background: #4e6574; /* The colour when the mouse hovers */
}

button:active {
  background: #21a1f1;
}

/* Clear Buttons span two columns. */
#clear {
  grid-column: span 2;
}
